.header {
    height: 40px;
    padding: 20px;
    background-color: #36454F;
    color: #FFFFFF;
    .title {
        float: left;
        padding-left: 30px;
    }
    .nav {
        float: right;
        a {
            padding: 0px 10px;
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}
