.footer {
    color: #FFFFFF;
    background-color: #36454F;
    padding-bottom: 10vh;
    h2 {
        font-size: 40px;
        margin: 0;
        padding: 25px;
    }
    .icon {
        font-size: 70px;
        padding: 30px 25px;
        color: #FFFFFF;
        text-decoration: none;
    }
}