@import '../../index.scss'; 

@media (max-width: 768px) {
    .footer {
        color: $white;
        background-color: $dark1;
        padding-bottom: 10vh;
        h2 {
            font-size: 40px;
            margin: 0;
            padding: 25px;
        }
        .icon {
            width: 30px;
            padding: 15px 15px;
            color: $white;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media (min-width: 769px) {
    .footer {
        color: $white;
        background-color: $dark1;
        padding-bottom: 10vh;
        h2 {
            font-size: 40px;
            margin: 0;
            padding: 25px;
        }
        .icon {
            width: 70px;
            padding: 30px 25px;
            color: $white;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
