@import '../../index.scss'; 

@media (max-width: 768px) {
    .experience {
        padding: 15px 0px;
        margin-bottom: 50px;
        h2 {
            font-size: 40px;
            margin: 0 auto;
            text-align: center;
        }
        .section {
            padding: 10px;
            margin: 10px
        }
        .role {
            font-size: 18px;
        }
        .employer {
            font-size: 18px;
        }
        .responsibilities {
            text-align: left;
        }
        ul {
            list-style-type: none;
            padding-inline-start: 20px;
        }
        li::before {
            content: '→';
            padding-right: 8px;
        }
    }
}

@media (min-width: 769px) {
    .experience {
        padding: 30px 0;
        h2 {
            font-size: 40px;
            margin: 0 auto;
            text-align: center;
        }
        .work-experience {
            display: inline-block;
        }
        .section {
            width: 45%;
            float: left;
            margin: 2.5%;
        }
        .role {
            font-size: 18px;
        }
        .employer {
            font-size: 18px;
        }
        .dates {
            padding: 5px;
        }
        .responsibilities {
            padding: 5px;
            text-align: left;
            margin: 0 auto;
            padding-left: 40px;
        }
        ul {
            list-style-type: none;
        }
        li::before {
            content: '→';
            padding-right: 8px;
        }
    }
}